/*
* {
  border: 1px solid red;
}
*/

html {
  font-size: 100%;
  padding-bottom: 0;
}

body {
  font-family: "Source Code Pro", monospace;
  padding: 0;
  margin: 0;
  /*background-color:#616161;*/
  /*background-color:#1D4056;*/
  /*background-color:#13374D;*/
  /*background-color:#173B55;*/
  /*background-color:#194258;*/
  /*background-color:#151515;*/
  /*background-color:#323232;*/
  background: url("../imgs/Cumulus_Clouds_Over_Jamaica.jpg") center center /
    cover no-repeat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100vw 100vh;
}

main,
footer {
  max-width: 50ch;
  margin: auto;
}

main {
  box-sizing: border-box;
  padding-right: 1ch;
  padding-bottom: 0;
  padding-left: 1ch;
  /*margin: 2ch 2ch 2ch;*/
  min-height: calc(100vh - 12ch);
}

a {
  color: green;
  text-decoration: none;
}

.blog-article-container {
  color: black;
  text-align: left;
}

.blog-math-article-container {
  color: black;
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .visibleOnDesktop {
    /*display: block;*/
  }

  .visibleOnMobile {
    display: none;
  }

  main {
    margin-top: 0rem;
  }

  /*
  div {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
*/

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
    line-height: calc(1.5rem * 1.7);
  }

  ul,
  ol {
    font-size: 1rem;
  }

  li > ul,
  li > ol {
    padding-left: 2ch;
  }

  li + li {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 767px) {
  .visibleOnDesktop {
    display: none;
  }

  .visibleOnMobile {
    display: block;
  }

  main {
    padding-top: 1ch;
  }

  h1 {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    font-weight: 700;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0;
    margin-left: 0;
    font-size: 1rem;
    line-height: calc(1rem * 1.7);
  }

  ul,
  ol {
    font-size: 1rem;
  }

  li > ul,
  li > ol {
    padding-left: 2ch;
  }

  li + li {
    margin-top: 1rem;
  }
}

/* This removes bottom white space in the last paragraph
* > :last-child { margin-bottom: 0;}
*/

/*
span {
    display:inline-block;
    padding: 0.5em 0;
}
*/

img {
  max-height: 100%;
  /*width: 100%;*/
  /*height: auto;*/
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  display: inline-block;
}

th,
td {
  font-size: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

table {
  /*border: 1px solid black;*/
  border: none;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
